extends ../layout

block content

	#datablock(data-listingid=`${listing._id}`)

	if user.listing.equals(listing._id)
		a(href="/dashboard/listing").link-to-listing Edit Listing

	section#sec1.parallax-section.single-par.list-single-section(data-scrollax-parent='true')
		.bg.par-elem(data-bg=`${listing.bgimage}`, data-scrollax="properties: { translateY: '30%' }")
		.overlay
		.bubble-bg
		.list-single-header.absolute-header.fl-wrap
			.container
				.list-single-header-item
					.list-single-header-item-opt.fl-wrap
						.list-single-header-cat.fl-wrap
							a(href='#') #{listing.industry}
					h2
						| #{listing.business_name}
					span.section-separator
					.listing-rating.card-popup-rainingvis(data-starrating2=`${listing.overall_rating}`)
						span (#{listing.reviews.length} reviews)
					.list-post-counter.single-list-post-counter
						span #{listing.favourited}
						i.fa.fa-heart
					.clearfix
					.row
						.col-md-6
							.list-single-header-contacts.fl-wrap
								ul
									li
										i.fa.fa-phone
										a(href=`tel:${listing.contact.phone}`) #{listing.contact.phone}
									li
										i.fa.fa-map-marker
										a(href='#') #{listing.address.line_one}, #{listing.address.town}, #{listing.address.post_code}
									li
										i.fa.fa-envelope-o
										a(href=`mailto:${listing.contact.email}`) #{listing.contact.email}
						.col-md-6
							.fl-wrap.list-single-header-column
								.share-holder.hid-share
									.showshare
										span Share 
										i.fa.fa-share
									.share-container.isShare
								span.viewed-counter
									i.fa.fa-eye
									|  Viewed -  #{listing.views}
								a.custom-scroll-link(href='#sec5')
									i.fa.fa-hand-o-right
									| Add Review

	.scroll-nav-wrapper.fl-wrap
		.container
			nav.scroll-nav.scroll-init
				ul
					li
						a.act-scrlink(href='#sec1') Top
					li
						a(href='#sec2') Details
					li
						a(href='#sec3') Gallery
					li
						a(href='#sec4') Reviews
			a.save-btn(href='#')
				i.fa.fa-heart
				|  Save
	// section
	section.gray-section.no-top-padding
		.container
			.row
				.col-md-8
					#sec2.list-single-main-wrapper.fl-wrap
						.breadcrumbs.gradient-bg.fl-wrap
							a(href='/') Home
							a(href=`/find/${listing.industry}/${listing.address.town}`) Listings
							span #{listing.business_name}
						if listing.gallery
							.list-single-main-media.fl-wrap
								.single-slider-wrapper.fl-wrap
									.single-slider.fl-wrap
										each img in listing.gallery
											.slick-slide-item
												img(src=`${img}`, alt='')
									.swiper-button-prev.sw-btn
										i.fa.fa-long-arrow-left
									.swiper-button-next.sw-btn
										i.fa.fa-long-arrow-right

						.list-single-main-item.fl-wrap
							.list-single-main-item-title.fl-wrap
								h3 About #{listing.business_name}
							div !{listing.description}
							span.fw-separator
							.list-single-main-item-title.fl-wrap
								h3 Amenities
							.listing-features.fl-wrap
								ul
									each service in listing.services
										li
											i.fa.fa-genderless
											| #{service}
						#sec3.list-single-main-item.fl-wrap
							.list-single-main-item-title.fl-wrap
								h3 Gallery - Photos
							// gallery-items
							.gallery-items.grid-small-pad.list-single-gallery.three-coulms.lightgallery
								each img in listing.gallery
									.gallery-item
										.grid-item-holder
											.box-item
												img(src=`${img}`, alt='')
												a.gal-link.popup-image(href=`${img}`)
													i.fa.fa-search
						#sec4.list-single-main-item.fl-wrap
							.list-single-main-item-title.fl-wrap
								h3
									| Item Reviews -  
									span  #{listing.reviews.length}
							.reviews-comments-wrap
								each review in listing.reviews
									.reviews-comments-item
										.review-comments-avatar
											img(src=`${review.user.avatar}`, alt='')
										.reviews-comments-item-text
											h4
												span #{review.user.name}
											.listing-rating.card-popup-rainingvis(data-starrating2=`${review.rating / 2 }`)  
											.clearfix
											p
												| #{review.review}
											span.reviews-comments-item-date
												i.fa.fa-calendar-check-o
												| #{moment(review.created_at).format("MMM Do YY")}
						#sec5.list-single-main-item.fl-wrap
							.list-single-main-item-title.fl-wrap
								h3 Add Review
							#add-review.add-review-box
								if user
									.leave-rating-wrap
										span.leave-rating-title Your rating  for this listing : 
										.leave-rating
											input#rating-1(type='radio', name='rating', value='5')
											label.fa.fa-star-o(for='rating-1')
											input#rating-2(type='radio', name='rating', value='4')
											label.fa.fa-star-o(for='rating-2')
											input#rating-3(type='radio', name='rating', value='3')
											label.fa.fa-star-o(for='rating-3')
											input#rating-4(type='radio', name='rating', value='2')
											label.fa.fa-star-o(for='rating-4')
											input#rating-5(type='radio', name='rating', value='1')
											label.fa.fa-star-o(for='rating-5')
									// Review Comment
									.add-comment.custom-form
										fieldset
											textarea(cols='40', rows='3', placeholder='Your Review:')#q_review
										p.error_msg
										button.btn.big-btn.color-bg.flat-btn#submit-review
											| Submit Review 
											i.fa.fa-paper-plane-o(aria-hidden='true')
								else
									.modal-open.btn
										i.fa.fa-sign-in
										span  Sign In to add a review
				.col-md-4
					.box-widget-wrap
						// box-widget-item
						.box-widget-item.fl-wrap
							.box-widget-item-header
								h3 Working Hours : 
							.box-widget.opening-hours
								.box-widget-content
									//- span.current-status
									//- 	i.fa.fa-clock-o
									//- 	|  Now Open
									- var oh = listing.opening_hours
									ul
										li
											span.opening-hours-day Monday 
											span.opening-hours-time #{oh.monday.open} AM - #{oh.monday.close} PM
										li
											span.opening-hours-day Tuesday 
											span.opening-hours-time #{oh.tuesday.open} AM - #{oh.tuesday.close} PM
										li
											span.opening-hours-day Wednesday 
											span.opening-hours-time #{oh.wednesday.open} AM - #{oh.wednesday.close} PM
										li
											span.opening-hours-day Thursday 
											span.opening-hours-time #{oh.thursday.open} AM - #{oh.thursday.close} PM
										li
											span.opening-hours-day Friday 
											span.opening-hours-time #{oh.friday.close} AM - #{oh.friday.close} PM
										li
											span.opening-hours-day Saturday 
											span.opening-hours-time #{oh.saturday.open} AM - #{oh.saturday.close} PM
										li
											span.opening-hours-day Sunday 
											span.opening-hours-time #{oh.sunday.open} AM - #{oh.sunday.close} PM

						.box-widget-item.fl-wrap
							.box-widget-item-header
								h3 Location / Contacts : 
							.box-widget
								.map-container
									#singleMap(data-latitude=`${listing.loc[1]}`, data-longitude=`${listing.loc[0]}`, data-maptitle='Out Location')
								.box-widget-content
									.list-author-widget-contacts.list-item-widget-contacts
										ul
											li
												span
													i.fa.fa-map-marker
													|  Adress :
												a(href='#') #{listing.address.line_one}, #{listing.address.town}, #{listing.address.post_code}
											li
												span
													i.fa.fa-phone
													|  Phone : 
												a(href=`tel:#{listing.contact.phone}`) #{listing.contact.phone}
											li
												span
													i.fa.fa-envelope-o
													|  Mail :
												a(href=`mailto:${listing.contact.email}`) #{listing.contact.email}
											li
												span
													i.fa.fa-globe
													|  Website :
												a(href=`${listing.contact.website}`) #{listing.contact.website}
									.list-widget-social
										if listing.social.icons
											ul
												if listing.social.icons.facebook
													li
														a(href=`${listing.social.icons.facebook}`, target='_blank')
															i.fa.fa-facebook
												if listing.social.icons.twitter
													li
														a(href=`${listing.social.icons.twitter}`, target='_blank')
															i.fa.fa-twitter
												if listing.social.icons.instagram
													li
														a(href=`${listing.social.icons.instagram}`, target='_blank')
															i.fa.fa-instagram
												if listing.social.icons.googleplus
													li
														a(href=`${listing.social.icons.googleplus}`, target='_blank')
															i.fa.fa-google-plus
												if listing.social.icons.youtube
													li
														a(href=`${listing.social.icons.youtube}`, target='_blank')
															i.fa.fa-youtube
												if listing.social.icons.linkedin
													li
														a(href=`${listing.social.icons.linkedin}`, target='_blank')
															i.fa.fa-linkedin
												if listing.social.icons.pinterst
													li
														a(href=`${listing.social.icons.pinterst}`, target='_blank')
															i.fa.fa-pinterest-p

	.limit-box.fl-wrap
	// section
	section.gradient-bg
		.cirle-bg
			.bg(data-bg='images/bg/circle.png')
		.container
			.join-wrap.fl-wrap
				.row
					.col-md-8
						h3 Join our online community
						p Grow your marketing and be happy with your online business
					.col-md-4
						a.join-wrap-btn.modal-open(href='#')
							| Sign Up 
							i.fa.fa-sign-in

	include ../partials/_login

	script(type="text/javascript" src="/static/js/citybook/jquery.min.js")
	script(type="text/javascript" src="/static/js/citybook/plugins.js")
	script(type="text/javascript" src="/static/js/citybook/scripts.js")
	script(type="text/javascript" src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(type="text/javascript" src="/static/js/helpers/form.js")
	script(type="text/javascript" src="/static/js/main.js")
	script(type="text/javascript" src="/static/js/listing.js")
	
	script(type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBptrgG-mAxef-8h46e-WavTmYWk-ds0yE")
	script(type="text/javascript" src="/static/js/citybook/map_infobox.js")
	script(type="text/javascript" src="/static/js/citybook/markerclusterer.js")
	script(type="text/javascript" src="/static/js/citybook/maps.js")