extends layout

block content

	#wrapper
		.content
			section.scroll-con-sec.hero-section(data-scrollax-parent="true")#sec1
				.bg(data-bg="/static/img/mylocal.png" data-scrollax="properties: { translateY: '200px' }")
				.overlay
				.hero-section-wrap.fl-wrap
					.container
						.intro-item.fl-wrap
							h2 We will help you to find all
							h3 Find great places , hotels , restourants , shops.
						.main-search-input-wrap
							.main-search-input.fl-wrap
								.main-search-input-item
									input(type="text" placeholder="Looking for..." value="" id="industry")
								.main-search-input-item.location
									input(type="text" placeholder="In..." value="" id="town")
									a(href="#")
										i.fa.fa-dot-circle-o
								button.main-search-button#hFind Search
				.bubble-bg
				//- .header-sec-link
				//- 	.container
				//- 		a(href="#sec2").custom-scroll-link Let's Start
			section#sec2
				.container
					.section-title
						h2 Featured Categories
						.section-subtitle Catalog of Categories
						span.section-separator
						p Explore some of the best tips from around the city from our partners and friends.
					.gallery-items.fl-wrap.mr-bot.spad
						.gallery-item
							.grid-item-holder
								.listing-item-grid
									img(src=`${featured[0].bgimage}` alt="")
									.listing-item-cat
										h3
											a(href=`/category/${featured[0].name}`) #{featured[0].name}
										//- p Constant care and attention to the patients makes good record
						.gallery-item.gallery-item-second
							.grid-item-holder
								.listing-item-grid
									img(src=`${featured[2].bgimage}` alt="")
									//- .listing-counter
									//- 	span 6
									//- 	span Locations
									.listing-item-cat
										h3 
											a(href=`/category/${featured[2].name}`) #{featured[2].name}
										//- p Constant care and attention to the patients makes good record
						.gallery-item
							.grid-item-holder
								.listing-item-grid
									img(src=`${featured[1].bgimage}` alt="")
									//- .listing-counter
									//- 	span 21
									//- 	span Locations
									.listing-item-cat
										h3
											a(href=`/category/${featured[1].name}`) #{featured[1].name}
										//- p Constant care and attention to the patients makes good record
						.gallery-item
							.grid-item-holder
								.listing-item-grid
									img(src=`${featured[3].bgimage}` alt="")
									//- .listing-counter 
									//- 	span 7 
									//- 	span Locations
									.listing-item-cat
										h3
											a(href=`/category/${featured[3].name}`) #{featured[3].name}
										//- p Constant care and attention to the patients makes good record
						.gallery-item
							.grid-item-holder
								.listing-item-grid
									img(src=`${featured[4].bgimage}` alt="")
									//- .listing-counter
									//- 	span 15
									//- 	span Locations
									.listing-item-cat
										h3
											a(href=`/category/${featured[4].name}`) #{featured[4].name}
										//- p Constant care and attention to the patients makes good record
					//- a(href="listing.html").btn.big-btn.circle-btn.dec-btn.color-bg.flat-btn View All
					//- 	i.fa.fa-eye

			section.color-bg
				.shapes-bg-big
				.container
					.row
						.col-md-6
							.images-collage.fl-wrap
								.images-collage-title City
									span Book
								.images-collage-main.images-collage-item
									img(src="/static/img/citybook/avatar/1.jpg" alt="")
								.images-collage-other.images-collage-item(data-position-left="23" data-position-top="10" data-zindex="2")
									img(src="/static/img/citybook/avatar/1.jpg" alt="")
								.images-collage-other.images-collage-item(data-position-left="62" data-position-top="54" data-zindex="5")
									img(src="/static/img/citybook/avatar/1.jpg" alt="")
								.images-collage-other.images-collage-item.anim-col(data-position-left="18" data-position-top="70" data-zindex="11")
									img(src="/static/img/citybook/avatar/1.jpg" alt="")
								.images-collage-other.images-collage-item(data-position-left="37" data-position-top="90" data-zindex="1")
									img(src="/static/img/citybook/avatar/1.jpg" alt="")
						.col-md-6
							.color-bg-text
								h3 Join our online community
								p In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
								a(href="#").color-bg-link.modal-open Sign In Now
			section.parallax-section(data-scrollax-parent="true")
				.bg(data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '100px' }")
				.overlay.co.lor-overlay
				.container
					.intro-item.fl-wrap
						h2 Visit the Best Places In Your City
						h3 Find great places , hotels , restourants , shops.
						a.trs-btn(href="#") Add Listing + 
			//- section.gray-section
			//- 	.container
			//- 		.fl-wrap.spons-list
			//- 			ul.client-carousel
			//- 				li
			//- 					a(href="#" target="_blank")
			//- 						img(src="/static/img/citybook/clients/1.png" alt="")
			//- 				li
			//- 					a(href="#" target="_blank")
			//- 						img(src="/static/img/citybook/clients/1.png" alt="")
			//- 				li
			//- 					a(href="#" target="_blank")
			//- 						img(src="/static/img/citybook/clients/1.png" alt="")
			//- 				li
			//- 					a(href="#" target="_blank")
			//- 						img(src="/static/img/citybook/clients/1.png" alt="")
			//- 				li
			//- 					a(href="#" target="_blank")
			//- 						img(src="/static/img/citybook/clients/1.png" alt="")
			//- 				li
			//- 					a(href="#" target="_blank")
			//- 						img(src="/static/img/citybook/clients/1.png" alt="")
			//- 			.sp-cont.sp-cont-prev
			//- 				i.fa.fa-angle-left
			//- 			.sp-cont.sp-cont-next
			//- 				i.fa.fa-angle-right
			section.gradient-bg
				.cirle-bg
					.bg(data-bg="images/bg/circle.png")
				.container
					.join-wrap.fl-wrap
						.row
							.col-md-8
								h3 Do You Have Questions ?
								p Lorem ipsum dolor sit amet, harum dolor nec in, usu molestiae at no.
							.col-md-4
								a(href="contacts.html").join-wrap-btn Get In Touch 
									i.fa.fa-envelope-o

	//- wrapper end

	include ./partials/_login

	a.to-top
		i.fa.fa-angle-up

	script(type="text/javascript" src="/static/js/citybook/jquery.min.js")
	script(type="text/javascript" src="/static/js/citybook/plugins.js")
	script(type="text/javascript" src="/static/js/citybook/scripts.js")
	script(type="text/javascript" src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(type="text/javascript" src="/static/js/helpers/form.js")
	script(type="text/javascript" src="/static/js/main.js")
	script(type="text/javascript" src="/static/js/home.js")