extends layout

block content

	header.full.fixed
		include ./partials/header

	#page-listing(data-postcode=`${listing.address.post_code}` data-listingid=`${listing._id}`)
		.theListing-bg(style=`background: linear-gradient(#0000, #${listing.branding.secondary_color}96), url(${listing.branding.background}) no-repeat 50% 50%/100%`).editable.editable-bg
			.container
				.row
					.col-sm-7
						h1(style=`color: ${listing.branding.primary_color}` data-field="business_name").editable #{listing.business_name}
						ul.social(class=`${listing.social.style}` data-field="social" data-style=`${listing.social.style}`).editable
							if listing.social.icons.facebook
								li
									a(href=`${listing.social.icons.facebook.link}` data-platform="Facebook").fb
							if listing.social.icons.twitter
								li
									a(href=`${listing.social.icons.twitter.link}` data-platform="Twitter").tw
							if listing.social.icons.instagram
								li
									a(href=`${listing.social.icons.instagram.link}` data-platform="Instagram").ig
							if listing.social.icons.youtube
								li
									a(href=`${listing.social.icons.youtube.link}` data-platform="YouTube").yt
							if listing.social.icons.googleplus
								li
									a(href=`${listing.social.icons.googleplus.link}` data-platform="Google Plus").gp
							if listing.social.icons.linkedin
								li
									a(href=`${listing.social.icons.linkedin.link}` data-platform="Linked In").li
							if listing.social.icons.pinterest
								li
									a(href=`${listing.social.icons.pinterest.link}` data-platform="Pinterest").pi
						//- .social-editbox
						//- 	input(type="")
						.rating
							if listing.rating != null && listing.rating != undefined  
								- var n = 1;
								while n < 6
									if n <= listing.rating / 2
										span
									else
										span.nostar
									- n++;
							if user
								.wrtieReview Write a review
							else
								a(href="/login") Write a review 
						br
						a(href=`tel:${listing.contact.phone}` style=`color: #${listing.branding.accent}; background: #${listing.branding.accent}33`).theListing-phone.editable #{listing.contact.phone}
					.col-sm-5
						img(src=`${listing.branding.logo}`).theListing-logo.editable
		.bigWhite
			.container
				.row
					.col-sm-6
						nav.tabs-listing
							ul
								li
									a(href=`/listing/${listing.slug}` class=tab == 'general' ? 'currentTab' : '') General
								li
									a(href=`/listing/${listing.slug}?tab=gallary` class=tab == 'gallary' ? 'currentTab' : '') Gallary
								li
									a(href=`/listing/${listing.slug}?tab=reviews` class=tab == 'reviews' ? 'currentTab' : '') Reviews
						if tab == 'general'
							h2 #{listing.business_name}
							if listing.description
								div !{listing.description}
							.row
								.col-xs-6
									h3 Address
									address
										ul
											li(data-field="address").editable #{listing.address.line_one}
											if listing.address.line_two
												li(data-field="address").editable #{listing.address.line_two}
											li(data-field="address").editable #{listing.address.town}
											li(data-field="address").editable #{listing.address.post_code}
								.col-xs-6
									h3 Contact
									ul
										li
											a(href=`${listing.contact.phone}` data-field="contact").editable #{listing.contact.phone}
										li
											a(href=`${listing.contact.email}` data-field="contact").editable #{listing.contact.email}
										li
											a(href=`${listing.contact.website}` data-field="contact").editable #{listing.contact.website}
							h3 Opening Hours
							table
								tr
									td
										p Monday
									td #{listing.opening_hours.monday.open}
									td - 
									td #{listing.opening_hours.monday.close}
								tr
									td
										p Tuesday
									td #{listing.opening_hours.tuesday.open} 
									td - 
									td #{listing.opening_hours.tuesday.close}
								tr
									td
										p Wednesday
									td #{listing.opening_hours.wednesday.open} 
									td - 
									td #{listing.opening_hours.wednesday.close}
								tr
									td
										p Thursday
									td #{listing.opening_hours.thursday.open} 
									td - 
									td #{listing.opening_hours.thursday.close}
								tr
									td
										p Friday
									td #{listing.opening_hours.friday.open} 
									td - 
									td #{listing.opening_hours.friday.close}
								tr
									td
										p Saturday
									td #{listing.opening_hours.saturday.open} 
									td - 
									td #{listing.opening_hours.saturday.close}
								tr
									td
										p Sunday
									td #{listing.opening_hours.sunday.open} 
									td - 
									td #{listing.opening_hours.sunday.close}

						else if tab == 'gallary'
							h2 Gallary

							if listing.gallery
								ul.gallery.cb_gallery
									each img in listing.gallery
										li
											img(src=`${img}`)

						else if tab == 'reviews'
							h2 Reviews
							.theReviews.shorter
								each review in listing.reviews
									.row
										.review
											.col-sm-3
												p #{review.user.name}
											.col-sm-9
												.rating
													- var n = 1;
													while n < 6
														if n <= review.rating / 2
															span
														else
															span.nostar
														- n++;
												.content
													p #{review.review}
								if !listing.rating
									p No reviews yet, be the first to leave one.
									if user
										.wrtieReview.black Write a review
									else
										a(href="/login") Write a review
								if more_reviews
									a more reviews

					.col-sm-6
						#map

				.related
					h2 Other #{listing.industry} in #{listing.address.town}
					.row
						each listing in moreListings
							.col-sm-3
								.listing
									.heading(style=`background: url(${listing.branding.background}) no-repeat 50%/100%`)
										h3 #{listing.business_name}
									.info
										if listing.rating
											.rating
												- var n = 1;
												while n < 6
													if n <= listing.rating / 2
														span
													else
														span.nostar
													- n++;
										a(href=`tel:${listing.contact.phone}`).phone #{listing.contact.phone}
										a(href=`/listing/${listing.slug}`).btn View
										img(src=`${listing.branding.logo}`).logo

	#yeahMsg
		p fbdb df

	if user
		if userOwnsListing || user.user_role == 'Admin' || user.user_role == 'Super Admin'
			#editSide
				h2 Edit
					//- ul
					//- 	li
					//- 		label Facebook
					//- 		if listing.social.icons.facebook
					//- 			input(type="" value=`${listing.social.icons.facebook.link}`)
					//- 		else
					//- 			input(type="text").fb
					//- 	li
					//- 		label Twitter
					//- 		if listing.social.icons.twitter
					//- 			input(type="" value=`${listing.social.icons.twitter.link}`)
					//- 		else
					//- 			input(type="text").tw
					//- 	li
					//- 		label Instagram
					//- 		if listing.social.icons.instagram
					//- 			input(type="" value=`${listing.social.icons.instagram.link}`)
					//- 		else
					//- 			input(type="text").ig
					//- 	li
					//- 		label Google +
					//- 		if listing.social.icons.googleplus
					//- 			input(type="text" value=`${listing.social.icons.googleplus.link}`)
					//- 		else
					//- 			input(type="text").gp
					//- 	li
					//- 		label YouTube
					//- 		if listing.social.icons.youtube
					//- 			input(type="text" value=`${listing.social.icons.youtube.link}`)
					//- 		else
					//- 			input(type="text").yt
					//- 	li
					//- 		label Linked In
					//- 		if listing.social.icons.linkedin
					//- 			input(type="text" value=`${listing.social.icons.linkedin.link}`)
					//- 		else
					//- 			input(type="text").ln
					//- 	li
					//- 		label Pinterst
					//- 		if listing.social.icons.pinterest
					//- 			input(type="text" value=`${listing.social.icons.pinterest.link}`)
					//- 		else
					//- 			input(type="text").pi

			#edit-listing Edit Listing


	script.
    
		function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 14
			});
			var geocoder = new google.maps.Geocoder();
			geocodeAddress(geocoder, map);
		}

		function geocodeAddress(geocoder, resultsMap) {
			var page = document.getElementById('page-listing');
			geocoder.geocode({'address': page.dataset.postcode}, function(results, status) {
				if(status === 'OK'){
					resultsMap.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
						map: resultsMap,
						position: results[0].geometry.location
					});
				}else{
					document.getElementById('map').innerHTML = '<p>Not Found</p>';
				}
			});
		}

	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBptrgG-mAxef-8h46e-WavTmYWk-ds0yE&callback=initMap")
	script(src="http://code.jquery.com/jquery-latest.js")
	script(src="/static/js/helpers/lightbox.js")
	script(src="/static/js/helpers/message.js")
	script(src="/static/js/helpers/popup.js")
	script(src="/static/js/helpers/form.js")
	script(src="/static/js/listing.js")

	if userOwnsListing || user.user_role == 'Admin' || user.user_role == 'Super Admin'
		script(src="/static/js/listing-edit.js")