extends ../layout

block content
	
	header
		nav
			ul.list.nav
				li
					a(href="/logout") Logout

	section
		include ../partials/side

		.main
			h1 Listings
			ul.bread-crumb
				li
					span.current Listings

			.floatLeft
				ul.filter.list
					li
						label Business Name
						input(type="text")#business_name.filterInput
					li
						label Industry
						input(type="text")#industry.filterInput
					li
						label Town
						input(type="text")#town.filterInput
					li
						button.btn#search Search
				h4 Recently Added Listings
				table
					tr
						th Business Name
						th Owner
						th Industry
						th Address
						//- th Location
						th Actions
					each listing in listings
						tr
							td #{listing.business_name}
							if listing.userId
								td #{listing.userId.name}
							else
								td Not Claimed
							td #{listing.industry}
							td #{listing.address.town}, #{listing.address.line_one}
							//- if listing.loc
							//- 	td #{listing.loc}
							//- else
							//- 	td no location data
							td
								a(href=`/listing/${listing.slug}` target="_blank").view
								a(href=`/admin/listings/edit/${listing._id}` target="_blank").edit
								span(data-listingid=`${listing._id}`).delete
				div.paginationDiv !{paginationLinks}
			.mini-side
				a(href="/admin/listings/add").add Add Listing

	script(src="http://code.jquery.com/jquery-latest.js")
	script(src="/static/lib/yeahcomplete/yeahcomplete.js")
	script(src="/static/js/helpers/accordian.js")
	script(src="/static/js/helpers/message.js")
	script(src="/static/js/helpers/popup.js")
	script(src="/static/js/admin/admin.js")
	script(src="/static/js/admin/listings/all.js")